header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header p {
  margin: 0px;
}

.section-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #A1A2F9;
  box-shadow: 9px -7px 8px -8px rgba(0, 0, 0, 0.19),
    -9px 9px 8px -8px rgba(0, 0, 0, 0.19);
}
.container-section {
  width: 300px;
}
.subtitle {
  text-align: center;
}
.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
}
.inputcuadrado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
}
input {
  padding: 10px;
  /* background-color: #e5e5e4; */
  background-color: white;
  border-radius: 6px;
  /* border: 1px solid #e5e5e4; */
  border: 1px solid white;
  border-bottom: 1px solid black;
  color: black;
  font-size: 18px;
  text-align: center;
}
button {
  background-color: #faca6b;
  border-radius: 4px;
  border: 1px solid white;
  padding: 8px;
  font-weight: bold;
  box-shadow: 9px -7px 8px -8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.inputCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  gap: 10px;
}
.button-Trian{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
    cursor: pointer;
}
@media (max-width: 700px){
  .container-global{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  .container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    border-radius: 6px;
    background-color: #A1A2F9;
    box-shadow: 9px -7px 8px -8px rgba(0, 0, 0, 0.19),
      -9px 9px 8px -8px rgba(0, 0, 0, 0.19);
  }
}
