@media (min-width: 700px){
body {
  background-color: #eeeefb;
}
.container {
  margin: 70px;
  padding: 30px;
  background-color: white;
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.12),
    -9px -10px 5px -8px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.containerTotal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
}
.conatiner-form {
  border-radius: 6px;
  border: 1px solid #eeeefb;
  padding: 70px;
}
.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.aparece p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
label {
  font-size: 18px;
}
input {
  border-radius: 4px;
  border: 1px solid #c5faad;
  background-color: #c5faad;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
#buttonDescuent {
  background-color: white;
  width: 100%;
  cursor: pointer;
}
.button-descuento {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.button-descuento button {
  width: 75px;
  cursor: pointer;
}
button {
  border-radius: 4px;
  border: 1px solid #4ab7f5;
  background-color: #4ab7f5;
  padding: 12px;
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.12),
    -9px -10px 5px -8px rgba(0, 0, 0, 0.12);
  font-weight: bold;
  cursor: pointer;
}
.resultado {
  border-radius: 4px;
  border: 1px solid #dbdada;
  background-color: #dbdada;
  width: 100%;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    background-color: white;
  }
  .container {
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .conatiner-form {

    padding: 20px;
  }
}
